
header {
    background-color: #ffffff;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
  

}




.container{
    padding: 40px;
    background-color: #ffffff;
    margin-top: 40px;


}

h1 {
    color: #4aaaa5;
    border-bottom: 1px solid #4aaaa5;
    padding: 10px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    
    background-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
}




footer {
     background-color: #666666; 
     height: 50px; 
     margin-top: 50px; 
    border-top: 8px solid #4aaaa5; 
     text-align: center; 
     color:white; 
     font-size: 10px; 
}

.navbar-brand{
    
    padding: 5px;
    color: white;
    
    
}

.navbar-light .navbar-brand {
    color: #4aaaa5;
    font-size: 30px;